LinkedIn Leads.json
{
  "name": "LinkedIn Leads",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cc27b2d9-8de7-43ca-a741-2d150084f78e",
              "name": "currentStartIndex",
              "value": 1,
              "type": "number"
            },
            {
              "id": "81b0e145-3a9d-402b-828d-1f99625d5664",
              "name": "q",
              "value": "={{ $('Webhook').item.json.body[0]['Ünvan'] }} {{ $('Webhook').item.json.body[0]['Taratılacak İş Kolu'] }} site:linkedin.com/in",
              "type": "string"
            },
            {
              "id": "36ce2929-9767-4475-a211-e0aca2ef7be5",
              "name": "sender_email",
              "value": "={{ $('Webhook').item.json.body[0]['E-mail adresiniz'] }}",
              "type": "string"
            },
            {
              "id": "81ed35f7-1be2-478f-bac8-ab250d03f09e",
              "name": "tablo_isim",
              "value": "={{ $('Webhook').item.json.body[0]['Excel Dosya Adı'] }}",
              "type": "string"
            },
            {
              "id": "66e35df7-fb4f-4534-89ca-fd1e004cab9f",
              "name": "number_of_search",
              "value": 1,
              "type": "number"
            },
            {
              "id": "022de618-9030-41a1-b3cc-044afcef41b4",
              "name": "target_count",
              "value": "={{ $('Webhook').item.json.body[0]['Kaç tane sonuç görmek istersiniz ?'] }}",
              "type": "string"
            },
            {
              "id": "d0008eb4-2ad6-4cae-bdfe-3fbae8f4c771",
              "name": "site_id",
              "value": "={{ $json.parentReference.siteId }}",
              "type": "string"
            },
            {
              "id": "0acd05e0-73f9-4535-8662-75b001e5774f",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f9eee579-c9e6-494b-b9ff-6185f7b13f72",
              "name": "web_url",
              "value": "={{ $json.webUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2688,
        272
      ],
      "id": "0d9ce49e-db56-4e78-ab14-aed6494b2aba",
      "name": "Set Fields1"
    },
    {
      "parameters": {
        "jsCode": "// Apify'dan gelen yanıtı al\nconst inputItem = $input.first();\nconst response = inputItem ? inputItem.json : {};\n\n// --- HATA 2 ÇÖZÜMÜ: ---\n// Editörün \"organicResults yok\" hatasını önlemek için güvenli erişim kullanıyoruz.\n// Köşeli parantez kullanımı ['organicResults'] tip hatasını bypass eder.\nconst items = response['organicResults'] || [];\n\n// --- GLOBAL HAFIZA (STATIC DATA) ---\nconst staticData = $getWorkflowStaticData('global');\n\n// --- HATA 1 ÇÖZÜMÜ: ---\n// Formdan gelen limiti al.\n// 'parseInt' kaldırdık çünkü target_count zaten bir Sayı (Number).\nlet limit = 50; \ntry {\n    const setNode = $('Set Fields1').first().json;\n    if (setNode.target_count !== undefined) {\n        // Gelen değer zaten sayı olduğu için doğrudan eşitliyoruz.\n        // Garanti olsun diye Number() içine alabiliriz ama parseInt gerekmez.\n        limit = Number(setNode.target_count);\n    }\n} catch(e) {\n    // Hata olursa limit 50 kalsın\n}\n\n// --- SAYACI YÖNETME ---\n// Eğer bu değişken hafızada yoksa (ilk tur), 0'dan başlat.\nif (staticData.resultsCounter === undefined) {\n    staticData.resultsCounter = 0;\n}\n\n// Şu an elimizdeki sonuç sayısı kadar sayacı artır\nif (items.length > 0) {\n    staticData.resultsCounter += items.length;\n}\n\n// --- DEVAM ETME KARARI ---\n// Eğer hafızadaki toplam sayı (resultsCounter), limitten küçükse devam et.\nconst hasMoreResults = items.length > 0 && staticData.resultsCounter < limit;\n\n// Bir sonraki başlangıç indeksi\nconst nextStartIndex = staticData.resultsCounter + 1;\n\n// E-posta bulma fonksiyonu\nfunction findEmail(text) {\n  if (!text) return null;\n  const emailRegex = /([a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+\\.[a-zA-Z0-9._-]+)/gi;\n  const found = text.match(emailRegex);\n  return found ? found[0] : null;\n}\n\n// --- GÜVENLİK VE ÇIKIŞ ---\n// Eğer hiç sonuç yoksa döngüyü kıracak sinyali gönder\nif (items.length === 0) {\n    staticData.resultsCounter = 0;\n    return [{ \n        json: {\n            startIndex: nextStartIndex,\n            hasMoreResults: false\n        }\n    }];\n}\n\n// Eğer limit dolduysa hafızayı temizle (Workflow bitiyor)\nif (!hasMoreResults) {\n    staticData.resultsCounter = 0;\n}\n\n// --- VERİ İŞLEME VE ÇIKTI ---\nconst results = items.map(item => {\n  const snippet = item.description || \"\";\n  const email = findEmail(snippet);\n\n  return {\n    name: item.title ? item.title.split(\" - \")[0] : null,\n    position: item.title,\n    link: item.url,\n    about: snippet,\n    image: null, \n    email: email,\n    startIndex: nextStartIndex,\n    hasMoreResults: hasMoreResults\n  };\n});\n\nreturn results.map(r => ({ json: r }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1920,
        336
      ],
      "id": "eb3bc530-4496-4c48-a4cb-79a387c04ee8",
      "name": "Results 1"
    },
    {
      "parameters": {
        "jsCode": "// Get all input items\nconst inputItems = $input.all();\nconsole.log(\"Input items count:\", inputItems.length);\n\n// Extract pagination values with correct field names\nlet nextStartIndex = 1;\nlet hasMoreResults = false;\n\nif (inputItems && inputItems.length > 0) {\n  const firstItem = inputItems[0];\n\n  if (firstItem.json) {\n    console.log(\"First item JSON:\", JSON.stringify(firstItem.json));\n\n    // Look for \"startIndex\" instead of \"index\"\n    if (firstItem.json.startIndex !== undefined) {\n      nextStartIndex = firstItem.json.startIndex;\n      console.log(\"Found startIndex:\", nextStartIndex);\n    }\n\n    // Look for \"hasMoreResults\" instead of \"results\"\n    if (firstItem.json.hasMoreResults !== undefined) {\n      hasMoreResults = firstItem.json.hasMoreResults;\n      console.log(\"Found hasMoreResults:\", hasMoreResults);\n    }\n  }\n}\n\n// Return pagination control info\nreturn {\n  json: {\n    continueLoop: hasMoreResults,\n    startIndex: nextStartIndex\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1760,
        496
      ],
      "id": "5e95019a-b9b0-436d-84fe-b3e0943dcbf3",
      "name": "Pages1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "faef2862-80a4-465b-9e0b-be5b9753dcbd",
              "leftValue": "={{ $('Pages1').item.json.continueLoop }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2752,
        544
      ],
      "id": "7ea1c717-dd4c-4f51-9bb0-618441921abd",
      "name": "Pages Check1"
    },
    {
      "parameters": {
        "formTitle": "Linkedin Potansiyel Müşteri Oluşturma Kiti",
        "formDescription": "=<p>Hedef kitlenize en uygun potansiyel müşterilere ulaşmak için lütfen aşağıdaki formu eksiksiz doldurun.</p>\n<p><strong>Önemli Bilgiler:</strong></p>\n<ul>\n    <li><strong>İletişim ve Destek:</strong> Sorularınız ve geri bildirimleriniz için Baran Çakı'ya baran.caki@hf-turkey.com adresine e-posta göndererek</a> ulaşabilirsiniz.</li>\n</ul>",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Hangi Fuar İçin Kullanacaksınız ?",
              "fieldType": "dropdown",
              "defaultValue": "Win Eurasia",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Win Eurasia"
                  },
                  {
                    "option": "SODEX"
                  },
                  {
                    "option": "Automechanika"
                  },
                  {
                    "option": "HOW"
                  },
                  {
                    "option": "ITA"
                  },
                  {
                    "option": "ITSA"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Ünvan",
              "placeholder": "Pazarlama Müdürü,CEO",
              "requiredField": true
            },
            {
              "fieldLabel": "Taratılacak İş Kolu",
              "placeholder": "Robotik,Otomasyon",
              "requiredField": true
            },
            {
              "fieldLabel": "Konum",
              "placeholder": "Turkey , Morocco , United States",
              "requiredField": true
            },
            {
              "fieldLabel": "E-mail adresiniz",
              "placeholder": "baran.caki@hf-turkey.com",
              "requiredField": true
            },
            {
              "fieldLabel": "Excel Dosya Adı",
              "placeholder": "linkedin lead gen output",
              "requiredField": true
            },
            {
              "fieldLabel": "Kaç tane sonuç görmek istersiniz ?",
              "fieldType": "dropdown",
              "defaultValue": "50",
              "fieldOptions": {
                "values": [
                  {
                    "option": "50"
                  },
                  {
                    "option": "100"
                  },
                  {
                    "option": "150"
                  },
                  {
                    "option": "200"
                  },
                  {
                    "option": "300"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "customCss": ":root {\n\t/* Typography */\n\t--font-family: 'Inter', 'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-medium: 500;\n\t--font-weight-bold: 600;\n\t--font-size-body: 14px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 13px;\n\t--font-size-input: 15px;\n\t--font-size-header: 28px;\n\t--font-size-paragraph: 15px;\n\t--font-size-link: 13px;\n\t--font-size-error: 13px;\n\t--font-size-html-h1: 32px;\n\t--font-size-html-h2: 24px;\n\t--font-size-html-h3: 20px;\n\t--font-size-html-h4: 16px;\n\t--font-size-html-h5: 14px;\n\t--font-size-html-h6: 12px;\n\t--font-size-subheader: 15px;\n\t\n\t/* Modern Color Palette */\n\t--color-background: #f8f9fc;\n\t--color-test-notice-text: #d97706;\n\t--color-test-notice-bg: #fffbeb;\n\t--color-test-notice-border: #fde68a;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #e5e7eb;\n\t--color-card-shadow: rgba(0, 0, 0, 0.04);\n\t--color-link: #6366f1;\n\t--color-header: #111827;\n\t--color-label: #374151;\n\t--color-input-border: #d1d5db;\n\t--color-input-text: #1f2937;\n\t--color-focus-border: #6366f1;\n\t--color-submit-btn-bg: #6366f1;\n\t--color-submit-btn-text: #ffffff;\n\t--color-submit-btn-hover: #4f46e5;\n\t--color-error: #ef4444;\n\t--color-required: #ef4444;\n\t--color-clear-button-bg: #9ca3af;\n\t--color-html-text: #374151;\n\t--color-html-link: #6366f1;\n\t--color-header-subtext: #6b7280;\n\t\n\t/* Border Radii - Daha modern ve yumuşak */\n\t--border-radius-card: 12px;\n\t--border-radius-input: 8px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 12px;\n\t\n\t/* Spacing - Daha havadar */\n\t--padding-container-top: 32px;\n\t--padding-card: 32px;\n\t--padding-test-notice-vertical: 14px;\n\t--padding-test-notice-horizontal: 20px;\n\t--margin-bottom-card: 20px;\n\t--padding-form-input: 14px 16px;\n\t--card-padding: 32px;\n\t--card-margin-bottom: 20px;\n\t\n\t/* Dimensions */\n\t--container-width: 520px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 20px;\n\t\n\t/* Shadows - Daha subtil ve katmanlı */\n\t--box-shadow-card: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);\n\t--box-shadow-card-hover: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);\n\t--box-shadow-input-focus: 0 0 0 3px rgba(99, 102, 241, 0.1);\n\t\n\t/* Transitions */\n\t--transition-default: all 0.2s ease-in-out;\n\t\n\t/* Others */\n\t--opacity-placeholder: 0.6;\n\t--input-border-width: 1.5px;\n}"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -4000,
        272
      ],
      "id": "8f23ea0e-7405-4ce8-a7aa-429a50e380ce",
      "name": "On form submission1",
      "webhookId": "3c35998e-b37c-4852-9913-99880b571f18",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "9d09c201-28ac-4ae9-8407-d1ed5e461cc2",
              "leftValue": "={{ $('Results 1').item.json.startIndex }}",
              "rightValue": "={{ $('Webhook').first().json.body[0]['Kaç tane sonuç görmek istersiniz ?'] }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        368,
        656
      ],
      "id": "5cd76c4a-6959-4ee7-af10-30680e3f3f4f",
      "name": "If"
    },
    {
      "parameters": {
        "options": {
          "formTitle": "İşleminiz başlamıştır",
          "formDescription": "Yaklaşık olarak 5 Dakika içerisinde, oluşan listeye erişim linki e-mail ile size iletilecektir.",
          "buttonLabel": "Devam et"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -3776,
        272
      ],
      "id": "0ba06845-578f-4cfe-bb05-21d9d5b81a2b",
      "name": "Form2",
      "webhookId": "fc97a16c-aaed-46ca-a87a-1223c482291c",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2512,
        448
      ],
      "id": "f5ac8949-1ce0-46df-bf79-d01ac53cbdd0",
      "name": "Wait",
      "webhookId": "6e262a10-9bb9-4bc8-b7d5-12c45dd8a912"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "36e1d1a0-7917-4607-9399-06a59145b11f",
              "leftValue": "={{ $json.basic_info.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1424,
        624
      ],
      "id": "ab6211ac-65ab-4728-9416-640e714471df",
      "name": "If1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1056,
        368
      ],
      "id": "3527fe50-2f62-46ef-9e0f-347ff430874a",
      "name": "Wait1",
      "webhookId": "7db0fcc5-1fe8-40bc-b1a8-7602c11941c4"
    },
    {
      "parameters": {
        "url": "={{ $json.organicResults[0].url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -848,
        368
      ],
      "id": "4ef17b03-063d-48c9-b67a-32a5f59049fd",
      "name": "HTTP Request",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// HTTP Request'ten gelen veriyi al\nconst items = $input.all();\n\n// 1. E-posta Regex'i\nconst emailRegex = /([a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+\\.[a-zA-Z0-9._-]+)/gi;\n\n// 2. Telefon Regex'i (GÜNCELLENDİ - SIKI MOD)\n// Sadece + veya rakamla başlayan, içinde parantez/tire olabilen grupları arar.\nconst phoneRegex = /((\\+|00)\\d{1,3}[-.\\s]?)?\\(?\\d{2,4}\\)?[-.\\s]?\\d{3}[-.\\s]?\\d{2,4}([-.\\s]?\\d{2,4})?/g;\n\n// Öncelik verilecek e-posta kelimeleri\nconst priorityKeywords = ['info', 'contact', 'hello', 'sales', 'iletisim', 'destek', 'export'];\n\nreturn items.map(item => {\n  const htmlContent = JSON.stringify(item.json); \n\n  // --- E-POSTA İŞLEMLERİ (Aynı kaldı) ---\n  let foundEmails = [];\n  let bestEmail = null;\n\n  if (htmlContent) {\n    const emailMatches = htmlContent.match(emailRegex);\n    if (emailMatches) {\n      emailMatches.forEach(email => {\n        const cleanEmail = email.toLowerCase();\n        if (!cleanEmail.match(/\\.(png|jpg|jpeg|gif|css|js|webp|svg)$/i)) {\n             if (!foundEmails.includes(cleanEmail)) {\n                foundEmails.push(cleanEmail);\n             }\n        }\n      });\n    }\n  }\n\n  if (foundEmails.length > 0) {\n    bestEmail = foundEmails.find(email => \n      priorityKeywords.some(keyword => email.includes(keyword))\n    );\n    if (!bestEmail) bestEmail = foundEmails[0];\n  }\n\n  // --- TELEFON İŞLEMLERİ (ÖZELLEŞTİRİLDİ) ---\n  let foundPhones = [];\n  let bestPhone = null;\n\n  if (htmlContent) {\n    const phoneMatches = htmlContent.match(phoneRegex);\n    \n    if (phoneMatches) {\n      phoneMatches.forEach(phone => {\n        // Temizlik: Boşlukları ve gereksiz karakterleri at, sadece +, rakam kalsın\n        const cleanPhone = phone.trim().replace(/[^0-9+]/g, '');\n        \n        // --- SIKI FİLTRELER ---\n        \n        // Kural 1: Uzunluk Kontrolü (Uluslararası nolar genelde 10-15 hane olur)\n        if (cleanPhone.length < 10 || cleanPhone.length > 16) return;\n\n        // Kural 2: Başlangıç Kontrolü (En Önemli Kısım)\n        // Sadece '+' ile veya '00' ile veya '0' ile başlayanları al.\n        // (Sıradan sayıları, tarihleri ve ürün kodlarını eler)\n        const isInternational = cleanPhone.startsWith('+') || cleanPhone.startsWith('00');\n        const isLocalOfficial = cleanPhone.startsWith('0'); // Örn: 0212, 0532\n\n        if (isInternational || isLocalOfficial) {\n            \n            // Kural 3: Geçersiz tekrarları ele (Örn: 0000000000)\n            if (/^(\\d)\\1+$/.test(cleanPhone.replace('+', ''))) return;\n\n            // Listeye ekle (Orijinal formatı koruyarak veya clean halini)\n            // Okunabilirlik için orijinal 'phone' değişkenini trim edip ekliyoruz.\n            const displayPhone = phone.trim();\n\n            if (!foundPhones.includes(displayPhone)) {\n                foundPhones.push(displayPhone);\n            }\n        }\n      });\n    }\n  }\n\n  // En iyi telefonu seç\n  // Varsa önce '+' ile başlayanı seç, yoksa ilk bulduğunu al.\n  if (foundPhones.length > 0) {\n      // + ile başlayan bir numara var mı?\n      const internationalOne = foundPhones.find(p => p.includes('+'));\n      bestPhone = internationalOne ? internationalOne : foundPhones[0];\n  }\n\n  return {\n    json: {\n      url: item.json.url || item.json.link, \n      scraped_email: bestEmail,\n      all_emails_found: foundEmails,\n      scraped_phone: bestPhone,   // Tercihen +90... formatı gelir\n      all_phones_found: foundPhones\n    }\n  }\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        368
      ],
      "id": "7f87d6fc-1081-427d-8cb3-2870c21f1a8e",
      "name": "Code in JavaScript",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Türkçe karakterleri İngilizceye çeviren fonksiyon\nfunction sanitize(str) {\n    if (!str) return \"\";\n    const map = {\n        'ğ': 'g', 'ü': 'u', 'ş': 's', 'ı': 'i', 'ö': 'o', 'ç': 'c',\n        'Ğ': 'G', 'Ü': 'U', 'Ş': 'S', 'İ': 'I', 'Ö': 'O', 'Ç': 'C'\n    };\n    return str.replace(/[ğüşıöçĞÜŞİÖÇ]/g, (m) => map[m])\n              .toLowerCase()\n              .replace(/[^a-z0-9]/g, '');\n}\n\nconst items = $input.all();\n\n// Referans node verilerini al\nlet resultsData = [];\nlet scraperData = [];\ntry { \n    resultsData = $node[\"Results 1\"].json; \n    if (!Array.isArray(resultsData)) resultsData = [resultsData];\n} catch(e) {}\ntry { \n    scraperData = $node[\"linkedin scraper1\"].json;\n    if (!Array.isArray(scraperData)) scraperData = [scraperData];\n} catch(e) {}\n\nreturn items.map((item, index) => {\n    const json = item.json; \n\n    // --- İSİM BULMA ---\n    let fullName = \"\";\n    if (resultsData?.[index]) fullName = resultsData[index].name;\n    if (!fullName && scraperData?.[index]?.basic_info) {\n        const info = scraperData[index].basic_info;\n        fullName = info.fullname || (info.first_name + \" \" + info.last_name);\n    }\n\n    // --- İSİM AYRIŞTIRMA ---\n    let firstName = \"\";\n    let lastName = \"\";\n    if (fullName && typeof fullName === 'string') {\n        let cleanName = fullName.split('(')[0].trim();\n        const parts = cleanName.split(\" \");\n        if (parts.length > 1) {\n            lastName = parts.pop();\n            firstName = parts.join(\" \");\n        } else {\n            firstName = fullName;\n        }\n    }\n\n    // --- DOMAIN ve EMAIL ---\n    let domain = \"\";\n    const url = json.url || json.link || \"\"; \n    const scrapedEmail = json.scraped_email || \"\"; \n\n    try {\n        if (url) {\n            const safeUrl = url.startsWith('http') ? url : 'https://' + url;\n            domain = new URL(safeUrl).hostname.replace(/^www\\./, '');\n        }\n    } catch (e) {}\n\n    if (!domain && scrapedEmail && scrapedEmail.includes('@')) {\n        domain = scrapedEmail.split('@')[1]; \n    }\n\n    // --- EMAIL PERMÜTASYONLARI ---\n    let generatedEmails = [];\n    if (domain && firstName && lastName) {\n        const f = sanitize(firstName);\n        const l = sanitize(lastName);\n        const fi = f.charAt(0);\n        \n        generatedEmails.push(`${f}.${l}@${domain}`);\n        generatedEmails.push(`${fi}${l}@${domain}`);\n        generatedEmails.push(`${f}@${domain}`);\n        generatedEmails.push(`${f}${l}@${domain}`);\n        generatedEmails.push(`${fi}.${l}@${domain}`);\n    }\n\n    let allEmails = [];\n    if (scrapedEmail) allEmails.push(scrapedEmail);\n    generatedEmails.forEach(mail => {\n        if (!allEmails.includes(mail)) allEmails.push(mail);\n    });\n\n    // --- KRİTİK KISIM: ESKİ VE YENİ VERİYİ BİRLEŞTİRME ---\n    // ...json diyerek önceki node'dan gelen tüm verileri koruyoruz.\n    // Sonra kendi yeni alanlarımızı ekliyoruz.\n    return {\n        json: {\n            ...json, // <--- BU SATIR HAYATİ ÖNEM TAŞIR (Title, About vs. burada)\n            first_name: firstName,\n            last_name: lastName,\n            domain: domain,     \n            original_scraped_email: scrapedEmail,\n            scraped_email: allEmails.join(\", \"), // Güncellenmiş mail listesi\n            final_phone: json.scraped_phone // Telefon\n        }\n    };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        368
      ],
      "id": "45942f79-e0fd-4d43-9f3d-b528e2af34da",
      "name": "Code in JavaScript2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1MjNb8qBRD0Jjpb_-r6YCOxzQgl9XxVNXsEfanIPBnQ0/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MjNb8qBRD0Jjpb_-r6YCOxzQgl9XxVNXsEfanIPBnQ0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $('linkedin scraper1').item.json.basic_info.fullname }}",
            "title": "={{ $('linkedin scraper1').item\n.json.basic_info.headline }}",
            "profile_url": "={{ $('linkedin scraper1').item.json.basic_info.profile_url }}",
            "about": "={{ $('linkedin scraper1').item.json.basic_info.about }}",
            "current company title": "={{ $('linkedin scraper1').item.json.experience[0].title }}",
            "current company name": "={{ $('linkedin scraper1').item.json.basic_info.current_company }}",
            "Company City": "={{ $('linkedin scraper1').item.json.basic_info.location.city }}",
            "Company Country": "={{ $('linkedin scraper1').item.json.experience[0].location }}",
            "Job Level": "={{ $('linkedin scraper1').item.json.experience[0].title }}",
            "Company Business Nature": "={{ $('linkedin scraper1').item.json.experience[0].description }}",
            "company email": "={{ $json.original_scraped_email }}",
            "fuar ismi": "={{ $('On form submission1').first().json['Hangi Fuar İçin Kullanacaksınız ?'] }}",
            "Company Phone": "={{ $json.final_phone }}",
            "company linkedin profile": "={{ $('linkedin scraper1').item.json.basic_info.current_company_url }}",
            "public email": "={{ $('linkedin scraper1').item.json.basic_info.email }}",
            "scraped email": "={{ $json.scraped_email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "fuar ismi",
              "displayName": "fuar ismi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ürün grubu",
              "displayName": "ürün grubu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sales validation",
              "displayName": "sales validation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pazarlama validation",
              "displayName": "pazarlama validation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "profile_url",
              "displayName": "profile_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "about",
              "displayName": "about",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "public email",
              "displayName": "public email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Phone",
              "displayName": "Company Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company email",
              "displayName": "company email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "scraped email",
              "displayName": "scraped email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "current company title",
              "displayName": "current company title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company linkedin profile",
              "displayName": "company linkedin profile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "current company name",
              "displayName": "current company name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Business Area",
              "displayName": "Company Business Area",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Business Nature",
              "displayName": "Company Business Nature",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Address",
              "displayName": "Company Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Zipcode",
              "displayName": "Company Zipcode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company City",
              "displayName": "Company City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Country",
              "displayName": "Company Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job Level",
              "displayName": "Job Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        128,
        512
      ],
      "id": "fb0e60ea-30af-494a-97a6-5600436dbfef",
      "name": "Add to Google1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tCMJFFYrh01x2kSW",
          "name": "Deutsche Messe Google Sheets"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Workflow'un kalıcı hafızasını çağırıyoruz\nconst staticData = $getWorkflowStaticData('global');\nconst input = $input.first().json;\n\n// --- MANTIK: SIFIRLA veya ARTIR ---\n\n// Eğer veri en baştan (Set Fields1) geliyorsa, hafızayı SIFIRLA.\n// (Set Fields1 node'unda 'currentStartIndex' veya 'number_of_search' gibi bir değişken olduğunu varsayıyoruz)\n// Eğer input içinde \"Set Fields1\"den gelen özel bir sinyal varsa başa dön.\n// NOT: Burası çok kritik. İlk tur olduğunu anlamak için Set Fields1'den gelen unique bir veriye bakıyoruz.\nif (input.currentStartIndex !== undefined || input.startIndex === 1) {\n    staticData.offset = 0;\n} \nelse {\n    // Eğer veri Wait/Loop'tan geliyorsa, hafızadaki sayıyı ARTIR.\n    // Eğer hafıza boşsa (hata durumu) 0'dan başlat.\n    if (staticData.offset === undefined) {\n        staticData.offset = 0;\n    }\n    // Her turda 10 ekle (Google'ın sayfa mantığı)\n    staticData.offset += 10;\n}\n\n// --- URL OLUŞTURMA ---\n\n// Sorgu metnini al (Kaybolmaması için en baştaki node'dan garantiye alıyoruz)\nconst queryText = input.q || $('Set Fields1').first().json.q;\n\n// Linki oluştur\nconst googleUrl = `https://www.google.com/search?q=${encodeURIComponent(queryText)}&start=${staticData.offset}`;\n\nreturn {\n    json: {\n        generated_url: googleUrl, // Apify'a gidecek link\n        current_offset: staticData.offset, // Kontrol için (0, 10, 20...)\n        page_number: (staticData.offset / 10) + 1 // Sayfa no (1, 2, 3...)\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2368,
        336
      ],
      "id": "4b1e97ef-2ee4-4c1e-a06a-dbd9a2e8ed48",
      "name": "Sayfa Yöneticisi"
    },
    {
      "parameters": {
        "resource": "Actors",
        "operation": "Run actor synchronously with input and get dataset items",
        "actorId": {
          "__rl": true,
          "value": "nFJndFXA5zjCTuudP",
          "mode": "id"
        },
        "build": "latest",
        "webhooks": "",
        "fields": "",
        "omit": "",
        "unwind": "",
        "flatten": "",
        "skipEmpty": true,
        "skipFailedPages": true,
        "useCustomBody": true,
        "customBody": "={\n  \"queries\": \"{{ $('linkedin scraper1').item.json.basic_info.current_company }} official website\",\n  \"resultsPerPage\": 1,\n  \"maxPagesPerQuery\": 1,\n  \"countryCode\": \"tr\"\n}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -1232,
        368
      ],
      "id": "1fa15ae6-4a45-48fd-8937-2b9562833f35",
      "name": "Run actor synchronously with input and get dataset items4",
      "retryOnFail": true,
      "credentials": {
        "apifyApi": {
          "id": "UIiK2ItdODP1Mrih",
          "name": "linkedin tempmail 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "Actors",
        "operation": "Run actor synchronously with input and get dataset items",
        "actorId": {
          "__rl": true,
          "value": "VhxlqQXRwhW8H5hNV",
          "mode": "list",
          "cachedResultName": "linkedin-profile-detail",
          "cachedResultUrl": "https://console.apify.com/actors/undefined/input"
        },
        "build": "latest",
        "webhooks": "",
        "limit": null,
        "fields": "",
        "omit": "",
        "unwind": "",
        "flatten": "",
        "useCustomBody": true,
        "customBody": "={\n    \"includeEmail\": true,\n    \"username\": \"{{ $('Results 1').item.json.link }}\"\n}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -1584,
        336
      ],
      "id": "05a1118b-022f-408e-9350-02ae9adee736",
      "name": "linkedin scraper1",
      "retryOnFail": true,
      "credentials": {
        "apifyApi": {
          "id": "UIiK2ItdODP1Mrih",
          "name": "linkedin tempmail 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "Actors",
        "operation": "Run actor synchronously with input and get dataset items",
        "actorId": {
          "__rl": true,
          "value": "nFJndFXA5zjCTuudP",
          "mode": "list",
          "cachedResultName": "google-search-scraper",
          "cachedResultUrl": "https://console.apify.com/actors/undefined/input"
        },
        "build": "latest",
        "webhooks": "",
        "offset": null,
        "limit": null,
        "fields": "",
        "omit": "",
        "unwind": "",
        "flatten": "",
        "useCustomBody": true,
        "customBody": "={\n    \"focusOnPaidAds\": false,\n    \"forceExactMatch\": false,\n    \"includeIcons\": false,\n    \"includeUnfilteredResults\": false,\n    \"maxPagesPerQuery\": 1,\n    \"maximumLeadsEnrichmentRecords\": 0,\n    \"mobileResults\": false,\n    \"queries\": \"{{ $json.generated_url }}\",\n    \"resultsPerPage\": 10,\n    \"saveHtml\": false,\n    \"saveHtmlToKeyValueStore\": true\n}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -2144,
        336
      ],
      "id": "43d323a2-f943-411c-9630-52e71915e77a",
      "name": "Run actor synchronously with input and get dataset items",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "apifyApi": {
          "id": "tPgSlvXKMCpzaRqg",
          "name": "linkedin tempmail 1"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "llg",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3648,
        544
      ],
      "id": "ede066a0-36cb-49f7-99a8-27de2a814a51",
      "name": "Webhook",
      "webhookId": "88e8cedb-52ce-4846-8c7e-6b4216c9e19f"
    },
    {
      "parameters": {
        "site": {
          "__rl": true,
          "value": "hannoverfairsturkey.sharepoint.com,8546a5d3-e98e-40e0-b8a3-a666070363a4,3feebdc0-1b79-487c-8821-f65fb180d9ac",
          "mode": "list",
          "cachedResultName": "HFT Data Management"
        },
        "folder": {
          "__rl": true,
          "value": "014WXOUTSDCGVA6ZMFRJD3BWR2PQ6Q7UXC",
          "mode": "list",
          "cachedResultName": "Developer Area"
        },
        "file": {
          "__rl": true,
          "value": "014WXOUTQT5QVBPRPJDVFYAVXCNJBWB2O6",
          "mode": "list",
          "cachedResultName": "linkedin lead gen and email sum.xlsx"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.microsoftSharePoint",
      "typeVersion": 1,
      "position": [
        -3472,
        272
      ],
      "id": "8455b603-1be7-4938-a21e-f0de8874ccfc",
      "name": "Download file",
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "dIAfo9wJgptG0aNy",
          "name": "Microsoft SharePoint account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.microsoft.com/v1.0/sites/{{ $('Set Fields1').first().json.site_id }}/drive/items/{{ $('Set Fields1').first().json.id }}/workbook/tables/Tablo/rows",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOneDriveOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"values\": [\n    [\n      {{ JSON.stringify($('Webhook').first().json.body[0]['Hangi Fuar İçin Kullanacaksınız ?'] || \"\") }},\n      \"\",\n      \"\",\n      \"\",\n      {{ JSON.stringify($('linkedin scraper1').item.json.basic_info.fullname || \"\") }},\n      {{ JSON.stringify($('linkedin scraper1').item.json.basic_info.headline || \"\") }},\n      {{ JSON.stringify($('linkedin scraper1').item.json.basic_info.profile_url || \"\") }},\n      {{ JSON.stringify($('linkedin scraper1').item.json.basic_info.about || \"\") }},\n      {{ JSON.stringify($('linkedin scraper1').item.json.basic_info.email || \"\") }},\n      {{ JSON.stringify($json.final_phone || \"\") }},\n      {{ JSON.stringify($json.original_scraped_email || \"\") }},\n      {{ JSON.stringify($json.scraped_email || \"\") }},\n      {{ JSON.stringify($('linkedin scraper1').item.json.experience?.[0]?.title || \"\") }},\n      {{ JSON.stringify($('linkedin scraper1').item.json.basic_info.current_company_url || \"\") }},\n      {{ JSON.stringify($('linkedin scraper1').item.json.basic_info.current_company || \"\") }},\n      \"\",\n      {{ JSON.stringify($('linkedin scraper1').item.json.experience?.[0]?.description || \"\") }},\n      \"\",\n      \"\",\n      {{ JSON.stringify($('linkedin scraper1').item.json.basic_info.location?.city || \"\") }},\n      {{ JSON.stringify($('linkedin scraper1').item.json.experience?.[0]?.location || \"\") }},\n      {{ JSON.stringify($('linkedin scraper1').item.json.experience?.[0]?.title || \"\") }}\n    ]\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        128,
        656
      ],
      "id": "8debf2a6-f366-4e00-97ab-7984d514ede6",
      "name": "HTTP Request1",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "alwaysOutputData": false,
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "2xaB8r0ZEi9kVNOJ",
          "name": "Microsoft Drive account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "toRecipients": "={{ $('Set Fields1').first().json.sender_email }}",
        "subject": "Linkedin Otomasyonunuz Bitmiştir",
        "bodyContent": "=<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <style>\n        body { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.6; color: #333333; margin: 0; padding: 0; }\n        .container { width: 100%; max-width: 600px; margin: 0 auto; border: 1px solid #eeeeee; }\n        .header { background-color: #0073b1; color: #ffffff; padding: 20px; text-align: center; }\n        .content { padding: 30px; background-color: #ffffff; }\n        .button-container { text-align: center; margin: 30px 0; }\n        .button { background-color: #0073b1; color: #ffffff !important; padding: 12px 25px; text-decoration: none; border-radius: 5px; font-weight: bold; display: inline-block; }\n        .footer { background-color: #f9f9f9; color: #777777; padding: 20px; text-align: center; font-size: 12px; }\n        .note { font-style: italic; color: #666666; margin-top: 20px; border-left: 3px solid #0073b1; padding-left: 10px; }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h2 style=\"margin: 0;\">Potansiyel Müşteri Raporu</h2>\n        </div>\n        <div class=\"content\">\n            <p>Sayın İlgili,</p>\n            <p>LinkedIn üzerinde belirlediğiniz kriterlere (query) göre hazırlanan <strong>güncel potansiyel müşteri listesi</strong> başarıyla oluşturulmuştur.</p>\n            <p>Otomasyon sistemimiz tarafından hazırlanan tabloya aşağıdaki bağlantı üzerinden erişebilirsiniz:</p>\n            \n            <div class=\"button-container\">\n                <a href=\"{{ $('Set Fields1').first().json.web_url }}\" class=\"button\">Dataseti Görüntüle</a>\n            </div>\n\n            <p class=\"note\">\n                Bu liste, hedef pazar analizleriniz ve satış stratejileriniz için en güncel verileri içerecek şekilde optimize edilmiştir.\n            </p>\n\n            <p>İyi çalışmalar dileriz.<br>\n            <strong>HFT AI Ekibi</strong></p>\n        </div>\n        <div class=\"footer\">\n            Bu e-posta HFT AI Otomasyon Sistemi tarafından otomatik olarak oluşturulmuştur.\n        </div>\n    </div>\n</body>\n</html>",
        "additionalFields": {
          "ccRecipients": "it@hf-turkey.com",
          "from": "ai@hf-turkey.com",
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        640,
        640
      ],
      "id": "ca187f15-1e33-4f35-a68a-67099be4d578",
      "name": "Send a message",
      "webhookId": "8886d876-2f86-46f0-9a45-b41b85b90960",
      "executeOnce": true,
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "V9OkgofJt0rj58ca",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body[0]['Hangi Fuar İçin Kullanacaksınız ?'] }}",
                    "rightValue": "Win Eurasia",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9421f1f4-4b1e-4f20-a5a8-34b41886404d"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5f1ff91a-4ac0-4cea-a70f-978ff4e99895",
                    "leftValue": "={{ $('Webhook').item.json.body[0]['Hangi Fuar İçin Kullanacaksınız ?'] }}",
                    "rightValue": "SODEX",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "041a7bdf-179b-47ca-8dfb-a2bd269aedf4",
                    "leftValue": "={{ $('Webhook').item.json.body[0]['Hangi Fuar İçin Kullanacaksınız ?'] }}",
                    "rightValue": "Automechanika",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7af10982-e5c1-44f3-88b2-b2cd6e404765",
                    "leftValue": "={{ $('Webhook').item.json.body[0]['Hangi Fuar İçin Kullanacaksınız ?'] }}",
                    "rightValue": "HOW",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d8c7f429-5b4d-4d33-92f9-185879762e88",
                    "leftValue": "={{ $('Webhook').item.json.body[0]['Hangi Fuar İçin Kullanacaksınız ?'] }}",
                    "rightValue": "ITAF",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0fb4529c-fb08-425a-8cd7-a8042984c21f",
                    "leftValue": "={{ $('Webhook').item.json.body[0]['Hangi Fuar İçin Kullanacaksınız ?'] }}",
                    "rightValue": "ITSA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1736fa65-2afe-4d1b-9f49-f6ac48bf51ff",
                    "leftValue": "={{ $('Webhook').item.json.body[0]['Hangi Fuar İçin Kullanacaksınız ?'] }}",
                    "rightValue": "OUTBOUND",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -3264,
        208
      ],
      "id": "74c21434-61c4-420c-9a2a-5dcb6164e7da",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "upload",
        "site": {
          "__rl": true,
          "value": "hannoverfairsturkey.sharepoint.com,8546a5d3-e98e-40e0-b8a3-a666070363a4,3feebdc0-1b79-487c-8821-f65fb180d9ac",
          "mode": "list",
          "cachedResultName": "HFT Data Management"
        },
        "folder": {
          "__rl": true,
          "value": "014WXOUTXHR75JKA4PPZGJWUSTPCNGQRIR",
          "mode": "list",
          "cachedResultName": "WIN"
        },
        "fileName": "={{ $('Webhook').item.json.body[0]['Excel Dosya Adı'] }}.xlsx",
        "fileContents": "data",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.microsoftSharePoint",
      "typeVersion": 1,
      "position": [
        -3056,
        -64
      ],
      "id": "3a12499c-c35d-4bcd-a42d-107f80c13395",
      "name": "Win Eurasia",
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "dIAfo9wJgptG0aNy",
          "name": "Microsoft SharePoint account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "site": {
          "__rl": true,
          "value": "hannoverfairsturkey.sharepoint.com,8546a5d3-e98e-40e0-b8a3-a666070363a4,3feebdc0-1b79-487c-8821-f65fb180d9ac",
          "mode": "list",
          "cachedResultName": "HFT Data Management"
        },
        "folder": {
          "__rl": true,
          "value": "014WXOUTRP5QTX2667FVH2PZU2DTWUAAHC",
          "mode": "list",
          "cachedResultName": "ISK-SODEX"
        },
        "fileName": "={{ $('Webhook').item.json.body[0]['Excel Dosya Adı'] }}.xlsx",
        "fileContents": "data",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.microsoftSharePoint",
      "typeVersion": 1,
      "position": [
        -3056,
        96
      ],
      "id": "f605ae30-970c-4257-a5ea-14aa59a6e78f",
      "name": "SODEX",
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "dIAfo9wJgptG0aNy",
          "name": "Microsoft SharePoint account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "site": {
          "__rl": true,
          "value": "hannoverfairsturkey.sharepoint.com,8546a5d3-e98e-40e0-b8a3-a666070363a4,3feebdc0-1b79-487c-8821-f65fb180d9ac",
          "mode": "list",
          "cachedResultName": "HFT Data Management"
        },
        "folder": {
          "__rl": true,
          "value": "014WXOUTUEOENXZHCEXNBLRFH4JD5GNC3G",
          "mode": "list",
          "cachedResultName": "AMIST"
        },
        "fileName": "={{ $('Webhook').item.json.body[0]['Excel Dosya Adı'] }}.xlsx",
        "fileContents": "data",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.microsoftSharePoint",
      "typeVersion": 1,
      "position": [
        -3056,
        240
      ],
      "id": "6230009d-f491-453f-8a31-dc3c69a894eb",
      "name": "Automechanika",
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "dIAfo9wJgptG0aNy",
          "name": "Microsoft SharePoint account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "site": {
          "__rl": true,
          "value": "hannoverfairsturkey.sharepoint.com,8546a5d3-e98e-40e0-b8a3-a666070363a4,3feebdc0-1b79-487c-8821-f65fb180d9ac",
          "mode": "list",
          "cachedResultName": "HFT Data Management"
        },
        "folder": {
          "__rl": true,
          "value": "014WXOUTVER6GWBPHJEFFLMHKTTGSIIVAV",
          "mode": "list",
          "cachedResultName": "HOW"
        },
        "fileName": "={{ $('Webhook').item.json.body[0]['Excel Dosya Adı'] }}.xlsx",
        "fileContents": "data",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.microsoftSharePoint",
      "typeVersion": 1,
      "position": [
        -3056,
        384
      ],
      "id": "5d2ca71a-a56f-4717-a95d-87d4b6078b64",
      "name": "HOW",
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "dIAfo9wJgptG0aNy",
          "name": "Microsoft SharePoint account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "site": {
          "__rl": true,
          "value": "hannoverfairsturkey.sharepoint.com,8546a5d3-e98e-40e0-b8a3-a666070363a4,3feebdc0-1b79-487c-8821-f65fb180d9ac",
          "mode": "list",
          "cachedResultName": "HFT Data Management"
        },
        "folder": {
          "__rl": true,
          "value": "014WXOUTUJHQICX45GEJDK22RB5BYGZZLK",
          "mode": "list",
          "cachedResultName": "ITAF-ITSA"
        },
        "fileName": "={{ $('Webhook').item.json.body[0]['Excel Dosya Adı'] }}.xlsx",
        "fileContents": "data",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.microsoftSharePoint",
      "typeVersion": 1,
      "position": [
        -3056,
        528
      ],
      "id": "0cc4b569-a552-4fec-9347-7c06fb681395",
      "name": "ITA",
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "dIAfo9wJgptG0aNy",
          "name": "Microsoft SharePoint account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "site": {
          "__rl": true,
          "value": "hannoverfairsturkey.sharepoint.com,8546a5d3-e98e-40e0-b8a3-a666070363a4,3feebdc0-1b79-487c-8821-f65fb180d9ac",
          "mode": "list",
          "cachedResultName": "HFT Data Management"
        },
        "folder": {
          "__rl": true,
          "value": "014WXOUTUJHQICX45GEJDK22RB5BYGZZLK",
          "mode": "list",
          "cachedResultName": "ITAF-ITSA"
        },
        "fileName": "={{ $('Webhook').item.json.body[0]['Excel Dosya Adı'] }}.xlsx",
        "fileContents": "data",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.microsoftSharePoint",
      "typeVersion": 1,
      "position": [
        -3056,
        688
      ],
      "id": "54cc51ec-10b3-4706-804c-5bb61992b492",
      "name": "ITSA",
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "dIAfo9wJgptG0aNy",
          "name": "Microsoft SharePoint account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 7
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2832,
        192
      ],
      "id": "f0bbbc64-8709-4a58-a419-f427f302c6d7",
      "name": "Merge"
    },
    {
      "parameters": {
        "toRecipients": "=alemdar.sonmez@hf-turkey.com",
        "subject": "Linkedin Otomasyonunuz Bitmiştir",
        "bodyContent": "=<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <style>\n        body { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.6; color: #333333; margin: 0; padding: 0; }\n        .container { width: 100%; max-width: 600px; margin: 0 auto; border: 1px solid #eeeeee; }\n        .header { background-color: #0073b1; color: #ffffff; padding: 20px; text-align: center; }\n        .content { padding: 30px; background-color: #ffffff; }\n        .button-container { text-align: center; margin: 30px 0; }\n        .button { background-color: #0073b1; color: #ffffff !important; padding: 12px 25px; text-decoration: none; border-radius: 5px; font-weight: bold; display: inline-block; }\n        .footer { background-color: #f9f9f9; color: #777777; padding: 20px; text-align: center; font-size: 12px; }\n        .note { font-style: italic; color: #666666; margin-top: 20px; border-left: 3px solid #0073b1; padding-left: 10px; }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h2 style=\"margin: 0;\">Potansiyel Müşteri Raporu</h2>\n        </div>\n        <div class=\"content\">\n            <p>Sayın İlgili,</p>\n            <p>LinkedIn üzerinde belirlediğiniz kriterlere (query) göre hazırlanan <strong>güncel potansiyel müşteri listesi</strong> başarıyla oluşturulmuştur.</p>\n            <p>Otomasyon sistemimiz tarafından hazırlanan tabloya aşağıdaki bağlantı üzerinden erişebilirsiniz:</p>\n            \n            <div class=\"button-container\">\n                <a href=\"https://hannoverfairsturkey.sharepoint.com/sites/data-management/_layouts/15/Doc.aspx?sourcedoc=%7BA4E8CCB8-31D7-45BE-ACF3-FC52CB82AB47%7D&file=End%C3%BCstriyel%20Otomasyon.xlsx&action=default&mobileredirect=true\" class=\"button\">Dataseti Görüntüle</a>\n            </div>\n\n            <p class=\"note\">\n                Bu liste, hedef pazar analizleriniz ve satış stratejileriniz için en güncel verileri içerecek şekilde optimize edilmiştir.\n            </p>\n\n            <p>İyi çalışmalar dileriz.<br>\n            <strong>HFT AI Ekibi</strong></p>\n        </div>\n        <div class=\"footer\">\n            Bu e-posta HFT AI Otomasyon Sistemi tarafından otomatik olarak oluşturulmuştur.\n        </div>\n    </div>\n</body>\n</html>",
        "additionalFields": {
          "ccRecipients": "it@hf-turkey.com",
          "from": "ai@hf-turkey.com",
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -3408,
        1104
      ],
      "id": "9271bc84-16f3-4e97-8d4e-d09184e96439",
      "name": "Send a message1",
      "webhookId": "8886d876-2f86-46f0-9a45-b41b85b90960",
      "executeOnce": true,
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "V9OkgofJt0rj58ca",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3600,
        1104
      ],
      "id": "29bae58d-30d1-450d-b41d-fb62c67537a8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "content": "\n## MAİL FORMATI",
        "height": 256,
        "width": 416,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3648,
        1040
      ],
      "id": "c264b294-9cfc-45f6-a07a-67e2a927284f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Eski Sistem FORM",
        "height": 192,
        "width": 368
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4016,
        224
      ],
      "id": "9b75d086-b070-40fc-86cd-77bf2c0ad04d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QxiUGW0adrb08PcB",
          "mode": "list",
          "cachedResultUrl": "/workflow/QxiUGW0adrb08PcB",
          "cachedResultName": "Linkedin Lead Generator Trigger for developer"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        848,
        640
      ],
      "id": "311e2239-3800-43cf-892f-f5ca831331fc",
      "name": "Call 'Linkedin Lead Generator Trigger for developer'",
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "upload",
        "site": {
          "__rl": true,
          "value": "hannoverfairsturkey.sharepoint.com,8546a5d3-e98e-40e0-b8a3-a666070363a4,3feebdc0-1b79-487c-8821-f65fb180d9ac",
          "mode": "list",
          "cachedResultName": "HFT Data Management"
        },
        "folder": {
          "__rl": true,
          "value": "014WXOUTRTZBW6YL6S4RFKCN4OEGHUJZYQ",
          "mode": "list",
          "cachedResultName": "OUTBOUND"
        },
        "fileName": "={{ $('Webhook').item.json.body[0]['Excel Dosya Adı'] }}.xlsx",
        "fileContents": "data",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.microsoftSharePoint",
      "typeVersion": 1,
      "position": [
        -3056,
        832
      ],
      "id": "6bc5da68-35d1-4e29-b882-fa038c7ec776",
      "name": "ITSA1",
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "dIAfo9wJgptG0aNy",
          "name": "Microsoft SharePoint account"
        }
      }
    }
  ],
  "pinData": {
    "On form submission1": [
      {
        "json": {
          "Hangi Fuar İçin Kullanacaksınız ?": "Win Eurasia",
          "Ünvan": "Pazarlama Müdürü",
          "Taratılacak İş Kolu": "Robotik",
          "Konum": "Türkiye",
          "E-mail adresiniz": "baran.caki@hf-turkey.com",
          "Excel Dosya Adı": "deneme",
          "Kaç tane sonuç görmek istersiniz ?": "50",
          "submittedAt": "2025-12-16T11:06:45.322+03:00",
          "formMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-1.caprover.hmist.com.tr",
            "x-real-ip": "46.106.74.94",
            "x-forwarded-for": "46.106.74.94",
            "x-forwarded-proto": "https",
            "connection": "upgrade",
            "content-length": "335",
            "sec-ch-ua-platform": "\"Windows\"",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36",
            "sec-ch-ua": "\"Google Chrome\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\"",
            "content-type": "application/json",
            "sec-ch-ua-mobile": "?0",
            "accept": "*/*",
            "origin": "https://linkedin-scraper-landing-page.caprover.hmist.com.tr",
            "sec-fetch-site": "same-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "referer": "https://linkedin-scraper-landing-page.caprover.hmist.com.tr/",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-AU,en;q=0.9,tr-TR;q=0.8,tr;q=0.7,en-US;q=0.6",
            "priority": "u=1, i"
          },
          "params": {},
          "query": {},
          "body": [
            {
              "Hangi Fuar İçin Kullanacaksınız ?": "OUTBOUND",
              "Ünvan": "İhracat Müdürü",
              "Taratılacak İş Kolu": "Robotik, Otomasyon",
              "Konum": "Türkiye",
              "E-mail adresiniz": "alemdar.sonmez@hf-turkey.com",
              "Excel Dosya Adı": "Endüstriyel Otomasyon",
              "Kaç tane sonuç görmek istersiniz ?": "300",
              "submittedAt": "2026-01-12T16:09:52.720+03:00"
            }
          ],
          "webhookUrl": "https://n8n-1.caprover.hmist.com.tr/webhook/llg",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Set Fields1": {
      "main": [
        [
          {
            "node": "Sayfa Yöneticisi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Results 1": {
      "main": [
        [
          {
            "node": "Pages1",
            "type": "main",
            "index": 0
          },
          {
            "node": "linkedin scraper1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pages1": {
      "main": [
        [
          {
            "node": "Pages Check1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pages Check1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission1": {
      "main": [
        [
          {
            "node": "Form2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form2": {
      "main": [
        []
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Sayfa Yöneticisi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Run actor synchronously with input and get dataset items4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Google1": {
      "main": [
        []
      ]
    },
    "Sayfa Yöneticisi": {
      "main": [
        [
          {
            "node": "Run actor synchronously with input and get dataset items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run actor synchronously with input and get dataset items4": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "linkedin scraper1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run actor synchronously with input and get dataset items": {
      "main": [
        [
          {
            "node": "Results 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Win Eurasia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SODEX",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Automechanika",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HOW",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ITA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ITSA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ITSA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Win Eurasia": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SODEX": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Automechanika": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "HOW": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "ITA": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "ITSA": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Set Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Call 'Linkedin Lead Generator Trigger for developer'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ITSA1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0be41cc7-851a-4482-b1ca-05f576b654d5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e6c7e3e35fcde93f493017b3ded43922f282e04237e3e2ffb8628abee86f7c98"
  },
  "id": "I0RxFmWXAFJ5M3lR",
  "tags": [
    {
      "updatedAt": "2025-12-09T09:05:46.599Z",
      "createdAt": "2025-12-09T09:05:46.599Z",
      "id": "Idt5wvi97eJNortl",
      "name": "aktifler"
    }
  ]
}